<h2>Sickbeard API Settings</h2>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="apiUrl" class="col-sm-2 control-label">API URL</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="apiUrl" placeholder="e.g. https://192.168.0.5:86/api/" ng-model="config.apiUrl">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" style="width: 100%" ng-click="openUrl()" ng-disabled="config.apiUrl === ''">Open URL</button>
        </div>
    </div>
    <div class="form-group">
        <label for="apiKey" class="col-sm-2 control-label">API Key</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apiKey" placeholder="e.g. 7d17eebf65f2e5c24c3bcd94805f7148" ng-model="config.apiKey">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-success" ng-click="saveConfig()">Save Changes</button>
        </div>
    </div