<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RnCore" type="RnCore.Configuration.RnCoreConfigurationSection, RnCore"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <RnCore>
    <Loggers>
      <add Name="logger1" Type="LogFile" Severity="Development" Enabled="false" LogFilePath="C:\RnDev\test.log" LogRollSizeMb="10" KeepRolledLogs="true"/>
      <add Name="logger2" Type="Console" Severity="Development" Enabled="true"/>
    </Loggers>
  </RnCore>
</configuration>
